# --- Seguridad ---
# Ignorar variables de entorno (¡Muy importante por el token de Telegram!)
.env
.env.*
! .env.example

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Ejecutables ---
# Si compilas manualmente y generas el binario en la raíz
run.sh